 <div class="d-flex float-left flex-column justify-content-lg-start" style="background: rgba(210,194,179,0.83);border-radius: 10px;color: rgb(27,26,26);margin: 20px;padding: 20px;border: 1px solid rgb(27,26,26) ;">
<h4>Title: <%= @book.title %></h4>
<h4>Author: <%= @book.author %></h4>
<h4>Publisher: <%= @book.publisher %></h4>
<h4>Pages: <%= @book.pages %></h4>
<p>Subject(s): 
  <% @book.subjects.each do |subject| %>
  <li> <%= subject.sub_name %> </li>
  <% end %>
</p> <br>

<%= link_to "Edit Book", edit_book_path(@book), :class => 'link'  %> | <%= link_to "Back To Library", books_path, :class => 'link'  %>
</div>